@media print {
    *,
    *:before,
    *:after {
      background: transparent !important;
      color: #000 !important;
      box-shadow: none !important;
      text-shadow: none !important;
    }
  
    .markdown-style a,
    .markdown-style a:visited {
      text-decoration: underline;
    }
  
    .markdown-style a[href]:after {
      content: " (" attr(href) ")";
    }
  
    .markdown-style abbr[title]:after {
      content: " (" attr(title) ")";
    }
  
    .markdown-style a[href^="#"]:after,
    .markdown-style a[href^="javascript:"]:after {
      content: "";
    }
  
    .markdown-style pre,
    .markdown-style blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
  
    .markdown-style thead {
      display: table-header-group;
    }
  
    .markdown-style tr,
    .markdown-style img {
      page-break-inside: avoid;
    }
  
    .markdown-style img {
      max-width: 100% !important;
    }
  
    .markdown-style p,
    .markdown-style h2,
    .markdown-style h3 {
      orphans: 3;
      widows: 3;
    }
  
    .markdown-style h2,
    .markdown-style h3 {
      page-break-after: avoid;
    }
  }
  
  .markdown-style pre,
  .markdown-style code {
    font-family: Menlo, Monaco, "Courier New", monospace;
  }
  
  .markdown-style pre {
    padding: .5rem;
    line-height: 1.25;
    overflow-x: scroll;
  }
  
  .markdown-style a,
  .markdown-style a:visited {
    color: #3498db;
  }
  
  .markdown-style a:hover,
  .markdown-style a:focus,
  .markdown-style a:active {
    color: #2980b9;
  }
  
  .modest-no-decoration {
    text-decoration: none;
  }
  
  .markdown-style {
    font-size: 12px;
  }
  
  @media screen and (min-width: 32rem) and (max-width: 48rem) {
    .markdown-style {
      font-size: 15px;
    }
  }
  
  @media screen and (min-width: 48rem) {
    .markdown-style {
      font-size: 16px;
    }
  }
  
  .markdown-style {
    line-height: 1.85;
  }
  
  .markdown-style p,
  .modest-p {
    font-size: 1.5rem;
    margin-bottom: 1.3rem;
  }
  
  .markdown-style h1,
  .modest-h1,
  .markdown-style h2,
  .modest-h2,
  .markdown-style h3,
  .modest-h3,
  .markdown-style h4,
  .modest-h4 {
    margin: 1.414rem 0 .5rem;
    font-weight: inherit;
    line-height: 1.42;
  }
  
  .markdown-style h1,
  .modest-h1 {
    margin-top: 0;
    font-size: 3.998rem;
  }
  
  .markdown-style h2,
  .modest-h2 {
    font-size: 2.827rem;
  }
  
  .markdown-style h3,
  .modest-h3 {
    font-size: 1.999rem;
  }
  
  .markdown-style h4,
  .modest-h4 {
    font-size: 1.414rem;
  }
  
  .markdown-style h5,
  .modest-h5 {
    font-size: 1.121rem;
  }
  
  .markdown-style h6,
  .modest-h6 {
    font-size: .88rem;
  }
  
  .markdown-style small,
  .modest-small {
    font-size: .707em;
  }
  
  /* https://github.com/mrmrs/fluidity */
  
  .markdown-style img,
  .markdown-style canvas,
  .markdown-style iframe,
  .markdown-style video,
  .markdown-style svg,
  .markdown-style select,
  .markdown-style textarea {
    max-width: 100%;
  }
  
  @import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
  
  @import url(http://fonts.googleapis.com/css?family=Arimo:700,700italic);
  
  .markdown-style {
    font-size: 18px;
    /* max-width: 100%; */
  }
  
  .markdown-style {
    color: #444;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-weight: 300;
    margin: 0 auto;
    max-width: 80rem;
    line-height: 1.45;
    width: 100%
    /* padding: .25rem; */
  }
  
  .markdown-style h1,
  .markdown-style h2,
  .markdown-style h3,
  .markdown-style h4,
  .markdown-style h5,
  .markdown-style h6 {
    font-family: Arimo, Helvetica, sans-serif;
  }
  
  .markdown-style h1{
    border-bottom: 2px solid #fafafa;
    margin-bottom: 1.15rem;
    padding-bottom: .5rem;
    text-align: center;
  }
  
  .markdown-style blockquote {
    border-left: 8px solid #fafafa;
    padding: 1rem;
  }
  
  .markdown-style pre,
  .markdown-style code {
    background-color: #fafafa;
  }

  .markdown-style strong {
    font-weight: 600;
  }  